.app {
    width: 800px;
    margin: 0 auto;
    font-size: 200%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "main-content" "cities";
}

#cities-list-container {
    grid-area: "cities";
}
#main-content {
    grid-area: "main-list";
}

.item a, .item li {
    display: inline-block;
}

.item li {
    width: 375px;
    border-bottom: solid black 1px;
    overflow-x: hidden;
}

.item a {
    padding: 2px;
    width: 20px; 
}

.showmore-btn {
    float: right;
}

.showmore-btn:hover {
    cursor: pointer;
}

#all, #completed, #active, #search {
    font-size: 0.6em;
    display: inline-block;
}
#all:hover, #completed:hover, #active:hover, #search:hover {
    text-decoration: underline;
    cursor: pointer;
}

#number-of-items {
    font-weight: bold;
    font-size:1em;
    text-align:right;
}

.hide {
    display:none;
}

#cities-list-container {
    margin-top: 200px;
    margin-left: 50px;
}

#cities-list-container > ul > li {
    border-bottom: 1px solid black;
}